.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: white;
    border-top: none; 
}

.hobby-adder {
    color: white;
    background-color: rgba(174, 173, 240, 1);
    margin-top: 32px;
    align-content: center;
    text-align: center;
    padding-bottom: 32px;
    border-radius: 16px;
}

.hobby-input {
    text-align: center;
    width: auto;
    border-radius: 8px;
}

.hobby-input-field {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.hobby-button {
    margin-top: 32px;
    background-color: white;
    color: #593196;
    border: none;
    font-weight: 700;
}

.hobby-button:hover {
    background-color: #593196;
    color: white;
    transition: 0.4s;
    scale: 1.3;
}

.hobbie-section {
    display: flex;
    justify-content: space-between;
}

.hobby-item {
    display: flex;
    justify-content: center;
}

.hobby-name {
    margin-right: 16px;
}

.remove-hobby {
    margin-left: 16px;
}

.hobby-name input {
    width: auto;
    text-align: center;
    background-color: rgba(174, 173, 240, 1);
    border-radius: 16px;
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.my-remove-button {
    height: 100%;
    width: px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: 700;
}

.my-remove-button:hover {
    scale: 1.2;
    background-color: rgb(139, 1, 1);
    transition: 0.4s;
}
