<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'username'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'password'"
        [type]="'password'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'confirm password'"
        [type]="'password'"></app-text-input>

    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form value: {{registerForm.status | json}}</p>