.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #B3A9A9;
}

.rounded-circle {
    max-height: 48px;
}

.current-user {
    margin: 10px 10px;
    background-color: rgba(174, 173, 240, 1);
    border-radius: 16px;
    padding: 24px;
}

.other-user {
    margin: 10px 10px;
    background-color: rgba(174, 173, 240, 0.4);
    border-radius: 16px;
    padding: 24px;
}